.summary-content {
    display: flex;
}

.summary-content > div {
    flex: 1;
    
}

.chart >h2 {
    margin-top:1rem ;
}
.expenses-chart{
    height: 85%;
}
.expenses-table {
    border: 0px;
  }
  .expenses-table > table {
    margin: 0 auto;
}
.expenses-table > table thead {
    text-align: left;
}

@media only screen and (max-width: 820px) {
    .summary-content {
        display: flex;
        flex-direction: column;
    }
    canvas {
        height: 30rem;
        width: 100%;
    }
    .chart {
        height: 2000rem;
    }
    
}