.content {
  padding: 1rem;
}

.fileupload-header-content {
  display: flex;
  align-items: center;
  width: 100%;
  margin-bottom: 1rem;
  flex-wrap: wrap; 
}

.icon-container {
  display: flex;
  align-items: center;
  height: 24px;
}

.icon-container svg {
  transform: scale(0.6);
  color: #007bff;
}

.page-title {
  color: #333;
  margin-right: 10px;
  font-size: 0.8rem;
}

.back-button {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 0.8rem;
}

.fileupload-title {
  font-size: 1.5rem;
  font-weight: bold;
}
.file-upload-container{
  display: flex;
  justify-content: center;
  align-items: center;
}
.file-upload{
  border: 2px dashed #ccc;
  border-radius: 8px;
  padding: 0.7rem;
  margin-top: 0.5rem;
  width: 50%;
}
.file-upload >p {
  margin-top: 0.8rem;
  margin-bottom: 1.5rem;
}
.file-upload-box{
  margin-bottom: 1rem;
}
.file-upload-innerbox{
  margin-top: 1rem;
}
.has-password{
  display: flex ;
}

.file-input {
  display: block;
  margin: 0 auto;
  padding: 0.5rem;
  border: none;
  background: #f0f0f0;
  font-size: 14px;
}

.expenses-table {
  border: 1px solid #ccc;
  border-radius: 8px;
  margin-top: 1rem;
  width: 100%;
  overflow-x: auto; 
}

.table-caption {
  font-weight: bold;
  text-align: left;
  padding: 0.5rem;
  background: #f0f0f0;
}

.table-row {
  border-bottom: 1px solid #ccc;
  transition: background-color 0.3s;
}

.table-row:last-child {
  border-bottom: none;
}

.table-row:hover {
  background-color: #f0f0f0;
}

.table-header,
.table-data {
  padding: 0.5rem;
  text-align: left;
}

.expense-trends,
.expense-summary {
  border: 2px dashed #ccc;
  border-radius: 8px;
  padding: 1rem;
  margin-top: 1rem;
  text-align: center;
}
