.content {
  padding: 1rem;
}

.fileupload-header-content {
  display: flex;
  align-items: center;
  width: 100%;
  margin-bottom: 1rem;
  flex-wrap: wrap; 
}

.icon-container {
  display: flex;
  align-items: center;
  height: 24px;
}

.icon-container svg {
  transform: scale(0.6);
  color: #007bff;
}

.page-title {
  color: #333;
  margin-right: 10px;
  font-size: 0.8rem;
}

.back-button {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 0.8rem;
}

.fileupload-title {
  font-size: 1.5rem;
  font-weight: bold;
}
.file-upload-container{
  display: flex;
  justify-content: center;
  align-items: center;
}

.file-upload-options {
  display: flex;
  justify-content: space-evenly;
}



.file-upload{
  border: 2px dashed #ccc;
  border-radius: 8px;
  padding: 0.7rem;
  margin-top: 0.5rem;
  width: 25rem;
  height: 22rem;
  position: relative;
}
.file-upload >*{
  width: 100%;
}
.file-upload > p > ol{
  margin-left: 20px;
}
.file-upload > p > ol> li{
  margin-bottom: 5px;
}
.file-upload >p {
  margin-top: 0.8rem;
  margin-bottom: 1.5rem;
}
.file-upload:nth-child(4) {
  margin-bottom: 0px;
}
.file-upload-box{
  margin-bottom: 1rem;
}
.file-upload-innerbox{
  margin-top: 1rem;
}
.has-password{
  display: flex ;
}

.file-input {
  display: block;
  margin: 0 auto;
  padding: 0.5rem;
  border: none;
  background: #f0f0f0;
  font-size: 14px;
}
.expenses-table-div{
  overflow: auto;
  width: 100%;
  overflow-x: auto; 
}
.expenses-table {
  border: 1px solid #ccc;
  border-radius: 8px;
  margin-top: 1rem;
  width: 100%;
}

.table-caption {
  font-weight: bold;
  text-align: left;
  padding: 0.5rem;
  background: #f0f0f0;
}

.table-row {
  border-bottom: 1px solid #ccc;
  transition: background-color 0.3s;
}

.table-row:last-child {
  border-bottom: none;
}

.table-row:hover {
  background-color: #f0f0f0;
}

.table-header,
.table-data {
  padding: 0.5rem;
  text-align: left;
  min-width: 1rem;
}



.google-get-data-container{
  display: flex;
  justify-content: center;
}
.google-get-data{
  position: absolute;
  bottom: 1.5rem;
  width: 17rem;
}
.seleccionar-archivos-file-container{
  display: flex;
  justify-content: center;
}
.seleccionar-archivos-file{
  position: absolute;
  bottom: 1.5rem;
  width: 17rem;
}



@media only screen and (max-width: 820px) {
  .file-upload-options {
      display: flex;
      flex-direction: column;
      margin-top: 2rem;
      justify-content:flex-start;
      width: 21rem;
  }
  .file-upload-container{
    height: 25rem;
    margin-bottom: 3rem;
  }
  .file-upload{
    height: 100%;
  }
  .expenses-table-div{
    width: 20rem;
    overflow-x: scroll;
  }

  
}
